<main role="main">

    
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/image/js.jpg" class="card-img-top" alt="" srcset="">
                        <div class="card-body">
                            <p class="card-text">In this project you will build a small number guessing game. System will select a random number
                        between 1 and 100. See if you can guess it in 10 turns or fewer. We'll tell you if your guess
                        was too high or too low . </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                   
                                        <a href="/projectdetail" class="btn btn-sm btn-outline-secondary">detail</a>
                                        <a href="http://www.github.com" target="_blank" class="btn btn-sm btn-outline-secondary">Github</a>

                                   
                                </div>
                                {{!-- <small class="text-muted">9 mins</small> --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/image/js.jpg" class="card-img-top" alt="" srcset="">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">detail</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Githu</button>
                                </div>
                                {{!-- <small class="text-muted">9 mins</small> --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/image/js.jpg" class="card-img-top" alt="" srcset="">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">detail</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Githu</button>
                                </div>
                                {{!-- <small class="text-muted">9 mins</small> --}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/image/js.jpg" class="card-img-top" alt="" srcset="">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">detail</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Githu</button>
                                </div>
                                {{!-- <small class="text-muted">9 mins</small> --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/image/js.jpg" class="card-img-top" alt="" srcset="">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">detail</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Githu</button>
                                </div>
                                {{!-- <small class="text-muted">9 mins</small> --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/image/js.jpg" class="card-img-top" alt="" srcset="">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">detail</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Githu</button>
                                </div>
                                {{!-- <small class="text-muted">9 mins</small> --}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/image/js.jpg" class="card-img-top" alt="" srcset="">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">detail</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Githu</button>
                                </div>
                                {{!-- <small class="text-muted">9 mins</small> --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/image/js.jpg" class="card-img-top" alt="" srcset="">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">detail</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Githu</button>
                                </div>
                                {{!-- <small class="text-muted">9 mins</small> --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/image/js.jpg" class="card-img-top" alt="" srcset="">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">detail</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Githu</button>
                                </div>
                                {{!-- <small class="text-muted">9 mins</small> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>