<!DOCTYPE html>
<html lang="en">
    {{> head }}


  <body> 
        {{> header }}
        <br>
        <br>
        <br>
        

      {{{body}}}

       

  
        {{> footer }}
   

    
        {{> script }}
</body>
       

    

</html>